:root {
    --primary: #fff;
  }
  /*  log in button */
.basicButton{
  padding: 8px;
border: none;
font-weight: 800;
margin: 20px;
border-radius: 0.3rem;
transition: 0.4s;
cursor: pointer;
font-size: 1.1rem;

}
.basicButton a{
  color: #000;
}
/* encreament hover transform scale */
.basicButton:hover{
  transform: scale(1.1);
}
/*  login button */
/* login button */
.login{
  background: #2dbf64;
  padding: 9px 36px;
}
/*  mode for dark  & light theme  */
.mode{
  background: #3d3d3d;
  padding: 6px 12px;
  
}
/* mode hover */ 
.mode:hover{
  
  border: 0.2px solid #0062d1;
}
/* login hover */
.login:hover{
  background: #00d853;
}
/*  primary button */
.primary{
  background: #0062d1;
}
.primary:hover{
  background: rgb(0, 255, 64);
}

  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 0.3s linear;
  }